@charset "utf-8";
carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}

.animHeight {
    -webkit-transition: height .6s ease-in-out;
    -moz-transition: height .6s ease-in-out;
	-ms-transition: height .6s ease-in-out;
	-o-transition: height .6s ease-in-out;
	transition: height .6s ease-in-out;
}