@charset "utf-8";
/* CSS Document */
html{
	margin:0;
	padding:0;
	
}
	body{
	margin:0;
	padding:0;
	
}
.main-menu{
	padding-top:5px;
	width:100%;
	margin-bottom:none;

	
}
.back{
	background:rgba(73,146,213,1.00);
	margin-bottom: 0px;
	    border: none;
}
.text{
	color:#F5F5F5 !important;
	font-size:18px;
}
.text2{
	    color: #fff!important;
    text-shadow: 0 1px 3px rgba(0,0,0,.25);
}
.main-menu .navbar-default{
	border:none;
	margin-bottom:none;
}
.main-menu .navbar-default .navbar-nav >li > a{
	
	font-size:15px;
	font-weight:bold;
	margin-right:1px;
	padding:15px;
	text-transform:uppercase;
	color:#FFFFFF;

	
}
.navbar-inverse .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color:#FFFFF; /*BACKGROUND color for active*/
background-color:#E90B0F;
}
.caption1{
	text-align:left;
	color:rgba(248,229,230,1.00) !important;
	font-size:24px;
}
.find{
	background:rgba(42,62,175,1.00);
	padding-top:15px;
	height:150px;
	margin-top:0px;
}
.text3{
	color:rgba(253,253,253,1.00) !important;
	font-size:16px;
	
}

.box
{
	background-color:rgba(240,234,234,1.00);
	color:#F00;
	border:4px double rgba(248,243,243,1.00);
	padding:12px;
	
}
.spacing{
	margin-left:25px;
}
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}
.featured{
	text-align:center;
	color:rgba(25,50,146,1.00);
}
.bg-lightgray
{
    background-color:LightGray;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
 .margin{
	 margin-top:0 px;
 }

 .bg-rentportal fieldset{
 	    min-width: 100%;
 }
 .navbar-default .navbar-nav>li>a {
    color: #f5f5f1;
}
.top-section {
    padding-top: 20px;
    background: url(../5.jpg) top center no-repeat;
    background-size: 100% auto;
}
p.phone-top a{margin-top: 15px;}
  

 #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
    }
	/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}



.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

	
	.user-row {
    margin-bottom: 14px;
	background:rgba(73,146,213,1.00);
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
.width{
	width:auto;
}
btn-glyphicon { padding:8px; background:#CCC; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}


/* carousel added by @krishnaguragain 14.07.17 10:10; */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 75px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 75px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
    width: 200px;
    height: 200px;
}
.carousel-control.right i,.carousel-control.left i{
	margin: 5px
}
/* End carousel */